
<br/>
<h2 style="text-align: center">Dashboard</h2>
<hr/><br/>

<h5 style="background-color: rgb(232, 232, 232); padding: 7pt; border-radius: 3px; text-align: center">Property summary</h5><br/>
<div class="dashboard-container" style="border: solid 1pt lightGrey; padding: 15pt; border-radius: 10px;">
    <div class="item-in-dashboard-1 col">
      <h6 class="div-title"><strong>Properties by type</strong> </h6>
        <p class="div-title">(average)</p>
        <%= pie_chart @properties.group(:property_type).count, legend: "bottom" %>
    </div>
    <div class="item-in-dashboard-1 col">
      <h6 class="div-title"><strong>Listing price by location</strong> </h6>
      <p class="div-title">(average)</p>
      <%= column_chart  @properties.group(:city).average(:listing_price), prefix: "$", xtitle: "Location", ytitle: "Average Listing Price"  %>
    </div>
      <div class="item-in-dashboard-1 col">
        <h6 class="div-title"><strong>Guest capacity by property type</strong> </h6>
        <p class="div-title">(sum across properties)</p>
        <%= bar_chart @properties.group(:property_type).sum(:max_guests), xtitle: "Sum of guest capacity", ytitle: "Property type", min: 0, max: 20, colors: ["#f9ab14", "rgba(#c6380b)", "#1d77f0"]  %>
      </div>
      <div class="item-in-dashboard-1 col">
        <h6 class="div-title"><strong>Properties by location</strong></h6>
        <p class="div-title">(cities)</p>
        <%= pie_chart @properties.group(:city).count, donut: true, legend: "bottom"   %>
      </div>
</div>
