
<h3>
  NEW MESSAGE
</h3>
<hr>
<br>

<p>
  <strong> From user: </strong>
</p>

<p>
  <%= @name %>
</p>

<br />

<p>
  <strong> Email:</strong>
</p>

<p>
  <%= @email %>
</p>

<br />

<p>
  <strong> Booking number: </strong>
</p>

<p>
  <%= @booking %>
</p>

<br />

<p>
  <strong> Message: </strong>
</p>

<p>
  <%= @message %>
</p>

<br />
<hr />



The AirCnB team
