<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back to user details', @user, class: "btn btn-outline-secondary" %>
<%= link_to 'Back to user index', users_path, class: "btn btn-outline-secondary" %>
