<br/>
<h1>Edit Property: <%= @property.title %></h1>
<br/>
<%= render 'form', property: @property %>

<%= link_to 'Back to property details', @property, class: "btn btn-outline-secondary" %>
<%= link_to 'Back to property index', properties_path, class: "btn btn-outline-secondary" %>
