
<!-- <div class="container home justify-content" > -->


  <div class="hero">
      <div class="container hero-heading">
        <h1>Go <br> Near</h1>
      <span>Explore nearby stays</span>
      </div>
  </div>
