
<!-- <div class="container home justify-content" > -->

<<<<<<< HEAD
  <div class="hero">
      <div class="container hero-heading">
        <h1>Go <br> Near</h1>
      <span>Explore nearby stays</span>
      </div>
  </div>
=======
<%# <%= image_tag "/assets/home-page.jpg", id: "homepage" %> 

</div>
>>>>>>> 06abaa6c466a54c30d5981c0604f3a9653ca1ecd
