<h1>Edit Reservation: <%= @reservation.booking_code %></h1>

<%= render 'form', reservation: @reservation %>

<hr/>
<%= link_to 'Back to reservation', @reservation, class: "btn btn-outline-secondary" %>
<%= link_to 'Back to reservation index', reservations_path, class: "btn btn-outline-secondary" %>
