<h1>Editing Review</h1>

<%= render 'form', review: @review %>

<%= link_to 'Back to review', @review, class: "btn btn-outline-secondary"  %>
<%= link_to 'Back to Reservation Index', reservations_path, class: "btn btn-outline-secondary"  %>
