<div class="container-fluid">
  <div class="btn-group special container-fluid" role="group">



<<<<<<< HEAD
    &copy; 2021 AirCnB  
=======
  <p class="container-fluid" style="text-align: center">  &copy; 2021 Air CnB</p> 
>>>>>>> 06abaa6c466a54c30d5981c0604f3a9653ca1ecd






  </div>
</div>
