<div class="container-fluid">
  <div class="btn-group special container-fluid" role="group">
    <%= link_to "Resrevations", reservations_path, class: "btn btn-primary"%>
    <%= link_to "Users", users_path, class: "btn btn-secondary"%>
    <%= link_to "Reviews", reviews_path, class: "btn btn-primary"%>
  </div>
</div>
